<div class="container">
    <div class="title">
        <h4>{{title}}</h4>
        <hr>
        <small>Total de tarjetas: {{total}}</small>
    </div>
    <div class="row">
        <div *ngFor="let card of creditCards">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/undraw_male_avatar_323b.png" class="card-img-top" alt="undraw_male_avatar_323b">
                <div class="card-body">
                    <p>
                        <small>Nombres:</small> {{ card.user[0].name }}
                    </p>
                    <p>
                        <small>Apellidos:</small> {{ card.user[0].surname }}
                    </p>
                    <p>
                        <small>email:</small> {{ card.user[0].email }}
                    </p>
                    <p>
                        <small>Teléfono:</small> {{ card.user[0].phone_number }}
                    </p>
                    <p>
                        <small>Tarjeta:</small> {{ card.credit_card_number }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="pages">
        <ul class="pagination">
			<li class="page-item" *ngIf="page > 1"> <a class="page-link" [routerLink]="['/usuarios', pre_page]">Anterior</a></li>
			<li class="page-item" *ngIf="page < pages"> <a class="page-link" [routerLink]="['/usuarios', next_page]">Siguiente</a></li>
		</ul>
    </nav>
</div>
