*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

.component{
    margin-top: 20px;
}

.margin{
    margin: auto;
}

.img img{
    width: 79%;
}

.card {
    margin: 30px;
}

.title{
    margin: 50px;
}

.pages{
    width: 30%;
    margin: auto;
}
